@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
p {
    text-align: justify;
}
body{
    background-image: linear-gradient(to right, #7AACBF, #5D84A6 80%);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(68, 96, 121, 0.719);
    width: 600px;   
    padding: 10px;
    margin:auto;
    
}
h1{
    color: #73A2BF;
    text-align: center;
    text-shadow: 1px 1px 0px #4e6e81b9;
}
h2{
    color: #274039;
}